*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;

    background-color: var(--body-bg--primary__color);
}

[tabindex="-1"]:focus:not(:focus-visible) {
    /* stylelint-disable-next-line declaration-no-important */
    outline: 0 !important;
}

hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

[hidden] {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}
