:root {
    /* Border. */
    --border__color: #f5f5f5;
    --border__color--light: color(var(--border__color) tint(10%));
    --border__color--dark: color(var(--border__color) shade(10%));

    /* Background. */
    --body__background-color--primary: #fff;
    --body__background-color--secondary: #f5f5f5;
    --body__background-color--tertiary: #999;

    /* Typography. */
    --heading__text-color: var(--text-color);
    --text-color: #222;
    --text-color--light: #6c757d;
    --text-color--dark: #000;
    --link__text-color: var(--color-primary);
    --link__text-color--hover: color(var(--link__text-color) shade(10%));

    /* Brand. */
    --color-primary: #007bff;
    --color-primary--light: color(var(--color-primary) tint(10%));
    --color-primary--dark: color(var(--color-primary) shade(10%));
    --color-secondary: #fd7e14;
    --color-secondary--light: color(var(--color-secondary) tint(10%));
    --color-secondary--dark: color(var(--color-secondary) shade(10%));
    --color-tertiary: #28a745;
    --color-tertiary--light: color(var(--color-tertiary) tint(10%));
    --color-tertiary--dark: color(var(--color-tertiary) shade(10%));

    /* State. */
    --state-light__color: #fff;
    --state-light__text-color: var(--text-color);
    --state-light__border-color: color(var(--state-light__color) shade(10%));
    --state-light__color--hover: color(var(--state-light__color) shade(15%));
    --state-light__text-color--hover: var(--state-light__text-color);
    --state-light__border-color--hover:
        color(
            var(--state-light__color--hover) shade(10%)
        );
    --state-primary__color: var(--color-primary);
    --state-primary__text-color: #fff;
    --state-primary__border-color:
        color(
            var(--state-primary__color) shade(10%)
        );
    --state-primary__color--hover: color(var(--color-primary) shade(10%));
    --state-primary__text-color--hover: #fff;
    --state-primary__border-color--hover:
        color(
            var(--state-primary__color--hover) shade(10%)
        );
    --state-secondary__color: var(--color-secondary);
    --state-secondary__text-color: #fff;
    --state-secondary__border-color:
        color(
            var(--state-secondary__color) shade(10%)
        );
    --state-secondary__color--hover: color(var(--color-secondary) shade(15%));
    --state-secondary__text-color--hover: #fff;
    --state-secondary__border-color--hover:
        color(
            var(--state-secondary__color--hover) shade(10%)
        );
    --state-tertiary__color: var(--color-tertiary);
    --state-tertiary__text-color: #fff;
    --state-tertiary__border-color:
        color(
            var(--state-tertiary__color) shade(10%)
        );
    --state-tertiary__color--hover: color(var(--color-tertiary) shade(15%));
    --state-tertiary__text-color--hover: #fff;
    --state-tertiary__border-color--hover:
        color(
            var(--state-tertiary__color--hover) shade(10%)
        );
}
