:root {
    --base__font-family:
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        roboto,
        "Helvetica Neue",
        arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --base__line-height: 1.5;
    --base__font-size: 1rem;
    --base__font-size--small: 0.875rem;
    --base__font-size--large: 1.25rem;
    --base__font-weight--light: 400;
    --base__font-weight: 400;
    --base__font-weight--bold: 700;

    /* Headings. */
    --heading__font-family: inherit;
    --heading__line-height: 1.2;
    --heading__font-size--h1: 2.5rem;
    --heading__font-size--h2: 2rem;
    --heading__font-size--h3: 1.75rem;
    --heading__font-size--h4: 1.5rem;
    --heading__font-size--h5: 1.25rem;
    --heading__font-size--h6: 1rem;
    --heading__font-weight--light: 400;
    --heading__font-weight: 700;
    --heading__font-weight--bold: 700;
}
