:root {
    --base__font-family:
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        roboto,
        "Helvetica Neue",
        arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --base__line-height: 1.5;
    --base__font-size: 1rem;
    --base__font-size--small: 0.875rem;
    --base__font-size--large: 1.25rem;
    --base__font-weight--light: 400;
    --base__font-weight: 400;
    --base__font-weight--bold: 700;

    /* Headings. */
    --heading__font-family: inherit;
    --heading__line-height: 1.2;
    --heading__font-size--h1: 2.5rem;
    --heading__font-size--h2: 2rem;
    --heading__font-size--h3: 1.75rem;
    --heading__font-size--h4: 1.5rem;
    --heading__font-size--h5: 1.25rem;
    --heading__font-size--h6: 1rem;
    --heading__font-weight--light: 400;
    --heading__font-weight: 700;
    --heading__font-weight--bold: 700;

    /** ----------------------
     * Colors.
     * ----------------------- */

    /* Border. */
    --border__color: #f5f5f5;
    --border__color--light: color(var(--border__color) tint(10%));
    --border__color--dark: color(var(--border__color) shade(10%));

    /* Background. */
    --body__background-color--primary: #fff;
    --body__background-color--secondary: #f5f5f5;

    /* Typography. */
    --heading__text-color: var(--text-color);
    --text-color: #222;
    --text-color--light: #6c757d;
    --text-color--dark: #000;
    --link__text-color: var(--color-primary);
    --link__text-color--hover: color(var(--link__text-color) shade(10%));

    /* Brand. */
    --color-primary: #007bff;
    --color-primary--light: color(var(--color-primary) tint(10%));
    --color-primary--dark: color(var(--color-primary) shade(10%));
    --color-secondary: #fd7e14;
    --color-secondary--light: color(var(--color-secondary) tint(10%));
    --color-secondary--dark: color(var(--color-secondary) shade(10%));
    --color-tertiary: #28a745;
    --color-tertiary--light: color(var(--color-tertiary) tint(10%));
    --color-tertiary--dark: color(var(--color-tertiary) shade(10%));

    /* State. */
    --state-light__color: #fff;
    --state-light__text-color: var(--text-color);
    --state-light__border-color: color(var(--state-light__color) shade(10%));
    --state-light__color--hover: color(var(--state-light__color) shade(15%));
    --state-light__text-color--hover: var(--state-light__text-color);
    --state-light__border-color--hover:
        color(
            var(--state-light__color--hover) shade(10%)
        );
    --state-primary__color: var(--color-primary);
    --state-primary__text-color: #fff;
    --state-primary__border-color:
        color(
            var(--state-primary__color) shade(10%)
        );
    --state-primary__color--hover: color(var(--color-primary) shade(10%));
    --state-primary__text-color--hover: #fff;
    --state-primary__border-color--hover:
        color(
            var(--state-primary__color--hover) shade(10%)
        );
    --state-secondary__color: var(--color-secondary);
    --state-secondary__text-color: #fff;
    --state-secondary__border-color:
        color(
            var(--state-secondary__color) shade(10%)
        );
    --state-secondary__color--hover: color(var(--color-secondary) shade(15%));
    --state-secondary__text-color--hover: #fff;
    --state-secondary__border-color--hover:
        color(
            var(--state-secondary__color--hover) shade(10%)
        );
    --state-tertiary__color: var(--color-tertiary);
    --state-tertiary__text-color: #fff;
    --state-tertiary__border-color:
        color(
            var(--state-tertiary__color) shade(10%)
        );
    --state-tertiary__color--hover: color(var(--color-tertiary) shade(15%));
    --state-tertiary__text-color--hover: #fff;
    --state-tertiary__border-color--hover:
        color(
            var(--state-tertiary__color--hover) shade(10%)
        );
}
