.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: var(--heading__font-weight);
    font-family: var(--heading__font-family);
    line-height: var(--heading__line-height);
    color: var(--heading__text-color);

    strong &,
    strong,
    &.heading--bold {
        font-weight: var(--heading__font-weight--bold);
    }

    &.heading--light {
        font-weight: var(--heading__font-weight--light);
    }
}

h1,
.heading--h1 {
    font-size: var(--heading__font-size--h1);
}

h2,
.heading--h2 {
    font-size: var(--heading__font-size--h2);
}

h3,
.heading--h3 {
    font-size: var(--heading__font-size--h3);
}

h4,
.heading--h4 {
    font-size: var(--heading__font-size--h4);
}

h5,
.heading--h5 {
    font-size: var(--heading__font-size--h5);
}

h6,
.heading--h6 {
    font-size: var(--heading__font-size--h6);
}
