<div class="layout">
    <header class="layout__header">
        Header
    </header>

    <div class="layout__content">
        <div class="row">
            <aside class="col-sm-3">
                Sidebar left
            </aside>

            <main class="col-sm-6">
                Content
            </main>

            <aside class="col-sm-3">
                Sidebar right
            </aside>
        </div>
    </div>

    <footer class="layout__footer">
        Footer
    </footer>
</div>
