a {
    text-decoration: underline;
    transition: color var(--transition__time) var(--transition--easeInOutSine), box-shadow var(--transition__time) var(--transition--easeInOutSine);

    box-shadow: none;

    color: var(--link__text-color);
    background-color: transparent;

    &:hover,
    &:active {
        box-shadow: none;

        color: var(--link--hover__text-color);
    }

    &:focus {
        box-shadow: 0 0 0 var(--focus-width) rgba(var(--color--primary), .25);
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}
