@import "label.css";
@import "input.css";

/**
 * Resets.
 */
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

select {
    word-wrap: normal;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styles.
 */
.form-group {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}
