<div class="mb-3">
    <label for="myTextarea" class="form-label">
        {{ label }}
    </label>

    <textarea class="form-input" name="my-textarea" id="myTextarea" rows="5" placeholder="{{ placeholder }}"></textarea>
</div>
