.form-input,
.form-select,
.form-check-input {
    &.form-validation__element--valid {
        &,
        &:focus {
            border-color: var(--form-input__feedback-color--valid);
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus-width) rgba(var(--form-input__feedback-color--valid), 0.25);
        }
    }

    &.form-validation__element--invalid {
        &,
        &:focus {
            border-color: var(--form-input__feedback-color--invalid);
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus-width) rgba(var(--form-input__feedback-color--invalid), 0.25);
        }
    }
}

/* Input. */
.form-input {
    &.form-validation__element--valid,
    &.form-validation__element--invalid {
        padding-right: var(--form-input__height--inner);
        background-repeat: no-repeat;
        background-position: right var(--form-input__height--inner-quarter) center;
        background-size: var(--form-input__height--inner-half) var(--form-input__height--inner-half);
    }

    &.form-validation__element--valid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }

    &.form-validation__element--invalid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    }
}

/* Select. */
.form-select {
    &.form-validation__element--valid,
    &.form-validation__element--invalid {
        padding-right: calc(var(--spacing__x--base) * 2.5 + calc(var(--spacing__x--base) * 3));
        background-repeat: no-repeat;
        background-position: right var(--spacing__x--base) center, center right calc(var(--spacing__x--base) * 3);
        background-size: 16px 12px, var(--form-input__height--inner-half) var(--form-input__height--inner-half);
    }

    &.form-validation__element--valid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }

    &.form-validation__element--invalid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    }
}

/* Textarea. */
textarea.form-input {
    &.form-validation__element--valid,
    &.form-validation__element--invalid {
        padding-right: var(--form-input__height--inner);
        background-position: top var(--form-input__height--inner-quarter) right var(--form-input__height--inner-quarter);
    }
}

/* Checkbox / radio */
.form-check-input.form-validation__element--valid {
    &:checked {
        background-color: var(--form-input__feedback-color--valid);
    }

    ~ .form-check-label {
        color: var(--form-input__feedback-color--valid);
    }
}

.form-check-input.form-validation__element--invalid {
    &:checked {
        background-color: var(--form-input__feedback-color--invalid);
    }

    ~ .form-check-label {
        color: var(--form-input__feedback-color--invalid);
    }
}

/**
 * Feedback.
 */
.form-validation__feedback--valid,
.form-validation__feedback--invalid {
    display: block;
    margin-top: 0.25rem;
}

.form-validation__feedback--valid {
    color: var(--form-input__feedback-color--valid);
}

.form-validation__feedback--invalid {
    color: var(--form-input__feedback-color--invalid);
}
