<div class="form-group">
    <label for="myTextarea">
        {{ label }}
    </label>

    <textarea class="form-input" name="my-textarea" id="myTextarea" rows="5" placeholder="{{ placeholder }}"></textarea>
</div>
