/**
 * Variables.
 */

/**
 * Styles.
 */
.button {
    display: inline-block;

    padding: var(--spacing--base__y) var(--spacing--base__x);

    font-family: var(--base__font-family);
    font-size: var(--base__font-size);

    border-width: 1px;
    border-style: solid;
    border-radius: var(--border--base__radius);

    text-align: center;
    vertical-align: middle;
    user-select: none;

    cursor: hand;
    cursor: pointer;

    transition: border var(--transition__time) var(--transition--easeInOutSine), color var(--transition__time) var(--transition--easeInOutSine), background-color var(--transition__time) var(--transition--easeInOutSine), box-shadow var(--transition__time) var(--transition--easeInOutSine);

    &:hover {
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        opacity: .65;
        box-shadow: none;
    }
}

/* Link. */
a.button {
    text-decoration: none;
}

/**
 * Sizes.
 */
.button--small {
    padding: var(--spacing--small__y) var(--spacing--small__x);

    font-size: var(--base--small__font-size)
}

.button--large {
    padding: var(--spacing--large__y) var(--spacing--large__x);

    font-size: var(--base--large__font-size)
}

/**
 * Variants.
 */
.button--light {
    background-color: var(--state--light__color);
    color: var(--state--light__text-color);
    border-color: var(--state--light__border-color);

    &:hover,
    &:active {
        background-color: var(--state--light--hover__color);
        color: var(--state--light--hover__text-color);
        border-color: var(--state--light--hover__border-color);
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 var(--focus-width) rgba(var(--color--primary), .25);
    }
}

.button--primary {
    background-color: var(--state--primary__color);
    color: var(--state--primary__text-color);
    border-color: var(--state--primary__border-color);

    &:hover,
    &:active {
        background-color: var(--state--primary--hover__color);
        color: var(--state--primary--hover__text-color);
        border-color: var(--state--primary--hover__border-color);
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 var(--focus-width) rgba(var(--color--primary), .25);
    }
}

.button--secondary {
    background-color: var(--state--secondary__color);
    color: var(--state--secondary__text-color);
    border-color: var(--state--secondary__border-color);

    &:hover,
    &:active {
        background-color: var(--state--secondary--hover__color);
        color: var(--state--secondary--hover__text-color);
        border-color: var(--state--secondary--hover__border-color);
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 var(--focus-width) rgba(var(--color--secondary), .25);
    }
}

.button--tertiary {
    background-color: var(--state--tertiary__color);
    color: var(--state--tertiary__text-color);
    border-color: var(--state--tertiary__border-color);

    &:hover,
    &:active {
        background-color: var(--state--tertiary--hover__color);
        color: var(--state--tertiary--hover__text-color);
        border-color: var(--state--tertiary--hover__border-color);
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 var(--focus-width) rgba(var(--color--tertiary), .25);
    }
}
